@charset "ISO-8859-1";

#nomeCliente{
	color:pink;
}

.telaInteira{
	display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    background-color: #373737;
    color: white;
}



.campo{
	display: flex;
	flex-direction: column;
	align-items: center;
}



.redesSociais{
	display: flex;
}

.quadroRedesSociais{
	margin: 10px;
}

